@import "../lib/node_modules/bootstrap/scss/bootstrap.scss";

p {
	margin: 0;
}

/***** nav *****/

#search-movies {
	margin-top: 25px;
	margin-bottom: 30px;
}

.logout {
	margin-top: 30px;
	margin-right: 25px;
}

ul {
	list-style-type: none;
}

/***** show lists bar *****/

.show-bar {
	height: 50px;
	border: 1px solid #000;
	margin-right: 0;
	margin-top: 30px;
}

.log {
	margin-top: 13px;
}

h1 {
	margin: 10px 20px 30px 20px;
	display: inline;
}

.subtitle {
	display: inline;
}

/***** movie display *****/

#DOM-element {
	margin-top: 30px;
}

.card {
	height: 275px;
	margin: 20px;
	width: 30rem;
}

.movie-info {
	padding-left: 10px;
}

.date {
	margin-bottom: 15px;
}

.star {
	font-size: 1.5em;
	letter-spacing: -.35em;
	color: #cbcbcb;
	display: inline;
	cursor: pointer;
}

.rated {
	color: #ffd700;
}

.hideIt {
	display: none;
}

.delete {
	cursor: pointer;
	float: right;
	font-size: 1.5em;
	color: #cbcbcb;
}

.cast {
	margin-top: 10px;
}


