@import "../lib/node_modules/bootstrap/scss/bootstrap.scss";

.test {
	font-size: 3em;
	color: blue;
}

p {
	margin: 0;
}

/***** nav *****/

#search-movies {
	margin-top: 25px;
}

.logout {
	margin-top: 30px;
	margin-right: 25px;
}

ul {
	list-style-type: none;
}

.hideIt {
	display: none;
}

/***** show lists bar *****/

.show-bar {
	height: 50px;
	border: 1px solid #000;
	margin-right: 0;
}

.log {
	margin-top: 13px;
}

h1 {
	margin: 10px 20px 30px 20px;
}

/***** movie display *****/

#DOM-element {
	margin-top: 30px;
}

.card {
	height: 275px;
	margin: 20px;
	width: 30rem;
}

.movie-info {
	padding-left: 10px;
}

.date {
	margin-bottom: 15px;
}

