  		<div class="col-md-4"><!-- creates row of three cards -->
  			<div class="col-md-12 movie-card"><!-- inside card so there is auto margin -->
  				<div class="row"><!-- row for poster and movie info -->
  					<div class="col-md-5 poster"></div><!-- poster -->
  					<div class="col-md-7 movie-info"><!-- movie info -->
  						<h3>Title</h3>
  						<p>Year</p>
  						<p>Actors</p>
  						<div class="starsNstuff"></div><!-- area for stars and links -->
  					</div><!-- /.col-sm-7 -->
  				</div><!-- /.row -->
  			</div><!-- /.col-sm-12 -->
  		</div><!-- /.col-sm-5 -->